.game-board {
  display: flex;
  flex-direction: row;
  padding: 6vw;
}

.board-row::after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  font-size: 3vw;
  padding: 0;
  text-align: center;
  width: 4.4vw;
  height: 4.4vw;
}
